<mat-card>
  <mat-card-header>
    <mat-card-title>{{hero.superhero}}</mat-card-title>
    <mat-card-subtitle>{{hero.alter_ego}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content class="mt-2">
    <h4>{{hero.publisher}}</h4>
    <p>
      <strong>Primera aparicion: </strong> {{hero.first_appearance}}
      <br>
      <strong>
        Personajes que han portado el manto del héroe:
      </strong>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let name of hero.characters.split(',') | slice:0:3">
          <mat-chip>
            {{name}}
          </mat-chip>
        </mat-list-item>
      </mat-list>
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions>
    <button class="mx-1" mat-button mat-raised color="primary" [routerLink]="['/heroes/edit',hero.id]">
      <mat-icon>edit</mat-icon> Editar
    </button>
    <button class="mx-1" mat-button mat-raised [routerLink]="['/heroes',hero.id]">
      <mat-icon>more_horiz</mat-icon> Más
    </button>
  </mat-card-actions>
</mat-card>